@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Zilla+Slab+Highlight&display=swap");

/******************************************
/* APP / ROOT
/*******************************************/

* {
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background: #fff8dc;
  box-sizing: content-box;
  overflow: hidden;
}

.html {
  font-size: 62.5%;
}

/******************************************
/* HOME
/*******************************************/

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 60%;
  margin: 0 auto;
}

.heading {
  font-family: "Luckiest Guy", cursive;
  font-size: 10rem;
  color: #f08080;
  text-align: center;
  padding: 0 4rem;
}

/******************************************
/* BUTTONS
/*******************************************/

.buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 49%;
  height: 25%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 2rem;
  border: 2px solid #f08080;
  background: #fff;
  padding: 0.6rem;
  color: #062c30;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 1px 1px 0 #f08080;
}

.btn:hover {
  animation: scale 1s 1;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 #f08080;
  transform: translateY(-1px);
  transition: transform 100ms;
}

.btn:active {
  transform: scale(0.9);
}

/******************************************
/* GAME
/******************************************/

.loadGame {
  display: flex;
  align-items: center;
  height: 99vh;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 55rem;
  height: 40rem;
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
  height: 20%;
}

#item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 90%;
}

#item h2 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: black;
  width: 100%;
}

#item h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  width: 100%;
  height: 10%;
  color: #f08080;
  font-family: "Luckiest Guy", cursive;
}

#question {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  max-width: 90%;
  font-size: 2.5rem;
  padding: 1rem;
  text-align: center;
  color: black;
  /* font-family: "Rubik", sans-serif; */
}

#choicesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 65%;
  height: 35%;
}
.choice-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  height: 17.5%;
  max-height: 20%;
  background: #fff;
  font-size: 1rem;
  border-bottom: 2px solid #f08080;
  border-top: 2px solid #f08080;
  border-right: 2px solid #f08080;
}

.choice-box:hover {
  animation: scale 1s 1;
  cursor: pointer;
  box-shadow: 0 3px 3px 0#f08080;
  transform: translateY(-1px);
  transition: transform 100ms;
}

.choice-option {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f08080;
  height: 99%;
  width: 14%;
  border: 2px solid #f08080;
  border-style: outset;
}

.choice-text {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  width: 100%;
  height: 100%;
}

.correct {
  background-color: #2bb12b;
}

.incorrect {
  background-color: #ff1c1c;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
}

#homeBtn {
  width: 4rem;
  height: 1.5rem;
}

/******************************************
/* LOADER
/*******************************************/

.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
svg path,
svg rect {
  fill: #f08080;
}

/******************************************
/* END PAGE
/*******************************************/

#final {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 45%;
  width: 60%;
}

.the-scores {
  font-size: 35px;
  font-family: "Luckiest Guy", cursive;
  color: #f08080;
  text-align: center;
  width: 18rem;
}

/* .btn #restart {
  width: 20%;
  height: 20%;
}
 */
/******************************************
/* SMARTPHONE MEDIA QUERY
/*******************************************/

@media all and (max-width: 490px) {
  .home {
    height: 80%;
    justify-content: space-evenly;
  }

  .heading {
    font-size: 6rem;
  }
  .game {
    width: 95%;
    height: 90%;
  }
  .buttons {
    display: flex;
    width: 90%;
    max-height: 35%;
  }

  .btn {
    height: 1.5rem;
    width: 4rem;
  }
  #question {
    font-size: 1.7rem;
    height: 25%;
  }

  #item {
    height: 70%;
  }

  #choicesContainer {
    width: 100%;
  }
  .choice-box {
    width: 90%;
  }
  /* .choice-option {
    width: ;
  } */
}

/******************************************
/* TABLET MEDIA QUERY
/*******************************************/

@media screen and (min-width: 491px) and (max-width: 768px) {
  .homeHeading {
    font-size: 13rem;
  }
  .game {
    width: 45rem;
    height: 60rem;
  }
  .buttons {
    width: 100%;
  }
  .homeBtn {
    padding: 1.3rem;
    font-size: 1.3rem;
  }

  #question {
    height: 20%;
    font-size: 3rem;
  }

  #item {
    height: 50%;
  }

  #choicesContainer {
    width: 70%;
  }
  .choice-box {
    width: 90%;
  }
  #final {
    height: 50%;
  }
}
