@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Zilla+Slab+Highlight&display=swap");

/******************************************
/* APP / ROOT
/*******************************************/

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background: #fff8dc;
  box-sizing: content-box;
  overflow: hidden;
}

.html {
  font-size: 62.5%;
}

/******************************************
/* HOME
/*******************************************/

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 70%;
  margin: 0 auto;
}

.heading {
  font-family: "Luckiest Guy", cursive;
  font-size: 12rem;
  color: #f08080;
  text-align: center;
  padding: 0 4rem;
}

/******************************************
/* BUTTONS
/*******************************************/

.buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
  height: 30%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 4rem;
  border: 2px solid #f08080;
  background: #fff;
  padding: 0.6rem;
  color: #062c30;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 600;
  box-shadow: 0 1px 1px 0 #f08080;
}

.btn:hover {
  animation: scale 1s 1;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 #f08080;
  transform: translateY(-1px);
  transition: transform 100ms;
}

.btn:active {
  transform: scale(0.9);
}

/******************************************
/* GAME
/******************************************/

.loadGame {
  display: flex;
  align-items: center;
  height: 99vh;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  height: 90%;
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 15%;
}

#item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 95%;
}

#item h2 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  color: black;
  width: 100%;
}

#item h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  width: 100%;
  height: 10%;
  color: #f08080;
  font-family: "Luckiest Guy", cursive;
}

#question {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  max-width: 65rem;
  font-size: 3.5rem;
  padding: 1rem;
  text-align: center;
  color: black;
}

#choicesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 35%;
}
.choice-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 88%;
  height: 17.5%;
  max-height: 20%;
  background: #fff;
  font-size: 1.6rem;
  border-bottom: 2px solid #f08080;
  border-top: 2px solid #f08080;
  border-right: 2px solid #f08080;
}

.choice-box:hover {
  animation: scale 1s 1;
  cursor: pointer;
  box-shadow: 0 3px 3px #f08080;
  transform: translateY(-1px);
  transition: transform 100ms;
}

.choice-option {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f08080;
  height: 99%;
  width: 14%;
  border: 2px solid #f08080;
  border-style: outset;
}

.choice-text {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  width: 100%;
  height: 100%;
}

.correct {
  background-color: #2bb12b;
}

.incorrect {
  background-color: #ff1c1c;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
}

#homeBtn {
  font-size: 2rem;
  width: 6rem;
  height: 3rem;
}

/******************************************
/* LOADER
/*******************************************/

.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
svg path,
svg rect {
  fill: #f08080;
}

/******************************************
/* END PAGE
/*******************************************/

#final {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 55%;
  width: 60%;
}

.finalHeading {
  font-size: 9rem;
  font-family: "Luckiest Guy", cursive;
  color: #f08080;
  text-align: center;
  width: 95%;
}

.the-scores {
  font-size: 4rem;
  font-family: "Luckiest Guy", cursive;
  color: #f08080;
  text-align: center;
  width: 70%;
}

#restart {
  width: 8rem;
  height: 4rem;
  font-size: 2rem;
}

/******************************************
/* LAPTOP MEDIA QUERY
/*******************************************/

@media only screen and (max-width: 1540px) {
  .game {
    height: 95%;
  }
  .heading {
    font-size: 8rem;
  }

  .btn {
    width: 5rem;
    height: 2rem;
    font-size: 1.2rem;
  }

  .header {
    height: 16%;
  }
  #question {
    font-size: 2.5rem;
  }

  #item h2 {
    font-size: 1.8rem;
  }
  #homeBtn {
    font-size: 1.5rem;
    width: 4.5rem;
    height: 1.5rem;
  }
  .finalHeading {
    font-size: 6.5rem;
  }

  .the-scores {
    font-size: 2.8rem;
  }
  #restart {
    width: 4.5rem;
    height: 1.8rem;
    font-size: 1.5rem;
  }
}
/*****************************************************
/* LANDSCAPE TABLET MEDIA QUERY
/****************************************************/

@media only screen and (max-width: 1024px) {
  .buttons {
    width: 80%;
  }
  .btn {
    width: 5.5rem;
    height: 2.5rem;
  }

  .finalHeading {
    font-size: 6.5rem;
  }

  .the-scores {
    font-size: 2.8rem;
  }
}

/*****************************************************
/* TABLET MEDIA QUERY
/****************************************************/

@media only screen and (max-width: 768px) {
  .buttons {
    width: 95%;
  }
  .btn {
    width: 5.5rem;
    height: 2.5rem;
  }
  .finalHeading {
    font-size: 8rem;
  }

  .the-scores {
    font-size: 2.8rem;
  }
}

/******************************************
/* LARGER SMARTPHONE + EXTRA MEDIA QUERY
/*******************************************/

@media only screen and (max-width: 650px) {
  .home {
    height: 85%;
  }
  .game {
    height: 95%;
  }
  .heading {
    font-size: 4.8rem;
  }
  .buttons {
    width: 80%;
    height: 55%;
  }
  .btn {
    width: 5rem;
    height: 2rem;
    font-size: 1.2rem;
  }

  .header {
    height: 12%;
  }
  #item h2 {
    font-size: 1.4rem;
  }

  #item h3 {
    font-size: 2.5rem;
  }
  #question {
    font-size: 2rem;
  }

  #homeBtn {
    font-size: 1.5rem;
    width: 4.5rem;
    height: 1.5rem;
  }

  .choice-box {
    min-width: 110%;
  }
  .choice-option {
    width: 3rem;
    font-size: 1.2rem;
  }

  .choice-text {
    font-size: 1rem;
    padding-left: 0.3rem;
  }
  .finalHeading {
    font-size: 6rem;
  }

  .the-scores {
    font-size: 2.5rem;
  }

  #restart {
    width: 3.5rem;
    height: 1.5rem;
    font-size: 1rem;
  }
}

/******************************************
/* SMALLER SMARTPHONE MEDIA QUERY
/*******************************************/

@media only screen and (max-width: 380px) {
  .heading {
    font-size: 4.2rem;
  }
}
